.*-env
.build/**
.env*
.gen-docker/**
.jest-cache-docker/**
.jest-cache/**
coverage/**
coverage/clover.xml
coverage/cobertura-coverage.xml
coverage/coverage-final.json
coverage/lcov-report/**
coverage/lcov.info
flow-typed/**
lib/**
node_modules/**
npm-debug.log
test-output/**
test-output/eslint.xml
test-output/jest.xml
yarn-error.log
